/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.cardHighlight {
  min-height: 100%;
}

.mvBtn {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 1em 2em;
  font-size: 1em;
  transition: color 0.25s, border-color 0.25s, box-shadow 0.25s, transform 0.25s;
}

.mvBtnTo:hover {
  border-color: #f1ff5c;
  color: white;
  box-shadow: 0 0.5em 0.5em -0.4em #000000;
  transform: translateY(-0.25em);
  cursor: pointer;
}